* {
    /* margin: 0;
    padding: 0; */
}

.merriweather-normal {
    font-family: "Merriweather", serif;
    /* font-weight: 300; */
    font-style: normal;
}

.main {
    width: 1320px;
    height: 600px;
    margin: 45px auto;
}

/* banner section */

.header {
    background-image: linear-gradient(180.00deg, rgb(7, 2, 17), rgb(7, 2, 17, 0)), url(../images/Banner\ Image.png);
    /* background: linear-gradient(0.00deg, rgb(7, 2, 17), rgb(7, 2, 17, 0)); */
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;

    /* background: linear-gradient(180.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%); */
    height: 600px;
    width: 1320px;
    border: none;
    text-align: center;
}

.header .banner {
    padding: 177px 344px;
    flex-wrap: wrap;
}

.banner-subtitle {
    color: rgb(255, 255, 255);
    /* font-family: Merriweather; */
    font-size: 22px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    /* padding: 177px, 344px; */
}

.banner-title {
    color: rgb(255, 255, 255);
    /* font-family: Merriweather; */
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    letter-spacing: 0%;
    text-align: center;

}

/* off section */
.holiday-deal {
    /* max-width: 802px; */
    /* max-height: 651px; */
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
    text-align: center;
    /* position: relative; */
    margin-bottom: 40px;
}

.deal {
    /* align-items: center; */
    /* text-align: center; */
    /* padding-bottom: 30px; */
    /* margin-bottom: 30px; */
}

.deal>h1 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 76px;
    font-weight: 700;
    line-height: 107px;
    letter-spacing: 0%;
    text-align: center;
    padding-bottom: 15px;
}

.deal>h5 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
}

.deal>h2 {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 38px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}

.holy-image {
    margin-bottom: 40px;
}

/* vector section design */
.vector {
    /* position: absolute; */
    background-image: linear-gradient(90deg, rgb(7, 2, 17), rgb(7, 2, 17, 0)100%), url("../images/Vectorrr.png");
    border-radius: 16px;
    height: 600px;
    width: 1320px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 40px;
}

.column-left {
    flex-wrap: wrap;
    width: 50%;
}

.column-left>h1 {
    color: rgb(255, 255, 255);
    /* font-family: Merriweather; */
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 11%;
    text-align: left;
}

.column-left>p {
    color: rgba(255, 255, 255, 0.8);
    /* font-family: Inter; */
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}

.column-left>div {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    margin-top: 30px;
    margin-left: 25px;
}

.column-left>div>button {}

.column-right>div>img {
    /* transform: rotate(-45deg); */
    /* overflow: hidden; */
    /* background-color: black; */
    /* mix-blend-mode: color-dodge; */
    /* background-color: transparent; */
    /* Layer 1 */
    /* position: absolute; */
    /* background-image: radial-gradient(49.50% 49.50% at 50% 50%, rgb(105, 11, 2) 27%, rgb(143, 73, 65) 39%, rgb(177, 128, 121) 51%, rgb(205, 173, 168) 62%, rgb(227, 209, 205) 73%, rgb(242, 234, 231) 84%, rgb(252, 250, 246) 93%, rgb(255, 255, 252) 100%) */
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    /* background-image: radial-gradient(none, rgb(197, 156, 156), rgb(106, 101, 101))100%; */
    /* background-image: linear-gradient(90deg, black, black)100%; */
    padding-top: 30px;
}

/* event styles */
.event {
    background-image: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);
    /* font-family: Inter; */
    font-size: 26px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    padding-top: 130px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-bottom: 100px;

}

.event-info span {
    color: rgb(255, 0, 0);
}

.primary-btn {
    margin-top: 30px;

    padding: 16px 32px;
    border-radius: 8px;

    background: rgb(255, 0, 0);
    color: white;
    border: none;
    cursor: pointer;
}

/* elipse section style */
.elipse {
    align-items: center;
    justify-content: center;
}

.elipse .elipse-container {
    display: flex;
    gap: 70px;
    align-items: center;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    /* padding: 0px 144px; */
    /* margin: 0 100px; */
}

.elipse1 {
    /* flex-wrap: wrap; */
    /* Group 46 */
    /* float: left; */
    /* position: left; */
    height: 255px;
    width: 393px;
}

.elipse1>h3 {
    color: rgb(255, 0, 0);
    /* font-family: Inter; */
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}

.elipse1>h1 {
    color: rgb(7, 2, 17);
    /* font-family: Merriweather; */
    font-size: 38px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}

.elipse1>p,
.elipse3>p {
    color: rgba(7, 2, 17, 0.6);
    /* font-family: Inter; */
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
}

.elipse2 div {
    align-items: center;
    justify-content: center;
    margin-left: -20px;
}

.elipse2 .circle {
    box-sizing: border-box;
    border: 15px solid rgb(255, 0, 0);
    border-radius: 230px;
    padding: 20px;
    margin-right: 20px;
}

.elipse3 {
    width: 276px;
}




.elipse3>h1 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: left;
}

.elipse3>div {
    margin-top: 40px;
    /* border: 0.5 dotted gray; */
}



/* functional deal style */


.functional-deal {

    margin-top: 100px;
}

.functional-info {
    text-align: center;
    height: 260px;
    width: 1320px;
    margin-bottom: 40px;
}

.functional-info>h4 {
    color: rgb(7, 2, 17);
    /* font-family: Inter; */
    font-size: 18px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
}

.functional-info>h1 {
    /* font-family: Merriweather; */
    font-size: 62px;
    font-weight: 900;
    line-height: 91px;
    letter-spacing: 0%;
    text-align: center;
}

.functional-info>p {
    color: rgba(7, 2, 17, 0.6);
    /* font-family: Inter; */
    font-size: 17px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;

}



.functional-task {
    display: flex;
    background-image: url("../images/Rectangle\ 2.png");
    background-repeat: no-repeat;
    background-position: bottom;

    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    padding: 30px;

}

.gift-box {
    /* position: absolute; */
    /* bottom: 150px; */
}

.discount-pic {
    /* position: absolute; */
    /* top: 500px; */
    /* Group 83 */
    /* position: absolute; */
    /* padding-bottom: 50px; */

}

.functional-part {
    /* padding: 30px; */

}


/* best gift section */


.gifts {
    margin-top: 120px;
    margin-bottom: 150px;
}

.gift-description {
    margin-bottom: 40px;
}

.gift-description>h4 {
    color: rgb(255, 0, 0);
    /* font-family: Inter; */
    font-size: 21px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}

.gift-description>h2 {
    color: rgb(7, 2, 17);
    /* font-family: Merriweather; */
    font-size: 40px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}

.gift-description>p {
    color: rgba(7, 2, 17, 0.6);
    /* font-family: Inter; */
    font-size: 17px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
    width: 892px;
}

.list-pic {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* newsletter */


.newsletter {
    border-radius: 16px;

    background-color: rgba(255, 0, 0, 0.05);



}

.news-description>div {
    text-align: center;
    padding-top: 86px;
}

.news-description>h2 {
    color: rgb(7, 2, 17);
    /* font-family: Merriweather; */
    font-size: 42px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
}

.news-description>p {
    color: rgba(7, 2, 17, 0.6);
    /* font-family: Inter; */
    font-size: 17px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: center;
    padding-left: 212px;
    padding-right: 212px;
    margin-bottom: 30px;



}

.input-box {
    text-align: center;
}

.input-box input[type="email"] {
    background-color: aliceblue;
    padding: 22px 477px 22px 30px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.last-btn {
    border-radius: 25px;
    padding: 25px auto;
    height: 68px;
}



/* footern styles */

.footer {
    background: rgb(7, 2, 17);
    margin: 30px 0px 0px 0px;
    padding: 60px 40px 60px;

}

.footer-top {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 17px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* padding-left: 70px; */
    /* gap: 5px; */
}

.footer-top>div {
    /* width: 50%; */


}